<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />  
<meta name="apple-mobile-web-app-capable" content="yes" />  
<meta name="format-detection" content="telephone=no" />  
<link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
</head>
<body>
<div class="doc" id="app">
      <div id="convo" class="chatwind" data-from="Sonu Joshi">  
        <ul class="chat-thread" ref="scorll" id="scorll">
            <li  v-for="(chat,index) in chatinfo" ref="uli" v-bind:class="chat.me == config.me ? 'me' : 'you'"><i> 
 
    
            <img v-if="chat.me == config.me" :src="myinfo.face" width="50"   />
            <img v-else :src="yourinfo.face" width="50"   />
             </i>{{chat.msg}}
       
             
            </li>
            
        </ul>
       <div class="forms" ref="forms"> 
       <p class="line">
       <textarea v-model="message" :name="message" class="message" @input="textFunc" id="Jmassage" placeholder="Enter your message" required="" ></textarea> <input type="button" class="sub" name="submit" value="发送" @click="sendMassage" @keyup.13="sendMassage" />
       </p>
       <p class="line">
      <label>你的昵称：</label> <input type="text" name=""  v-model="config.me" @input="inputFunc" name="user"  class="text" /> <!--  vm.$set( vm.config,"me",vm.config.me ) -->
      </p>
      <p class="line">
       <label>你要发给谁：</label><input type="text" name=""  v-model="config.you" name="friends" @input="inputFunc" class="text" />
        </p>

        <p class="line">
       <label>MD5：</label><input type="text" name=""  v-model="config.MD5" name="MD5" @input="inputFunc" class="text" />
        </p>
       </div>
    </div>
</div>
    <script type="text/javascript" src="vue.min.js"></script>
     <script  src="http://192.168.33.233:8080/socket.io/socket.io.js" type=></script>
    <script>
  //  document.cookie="me="+username;

var vm = new Vue({
  el: '#app',
  data: {

    config: {
      url: "ws://192.168.33.233:8080",
      server: "personWS",
      me: "daxiong",
      you: "god",
      MD5:"4d2a107841a9fe18"

    },
    myinfo: [{
      username: "",
      face: "",
      nichen: ""
    }],
    yourinfo: [{
      username: "",
      face: "",
      nichen: ""
    }],
    chatinfo: [],
    message: "",
    history: 20
  },
  created: function() {
     _self = this;//data生命周期只有在这里才有效
     socket = io.connect(_self.config.url); //创建一个ws链接
    _self.$options.methods.ready(_self);
  },
  methods:
   {
    ready:function(obj){ 
      var _this=this;

        _this.upconfig(obj);//获取用户配置

        _this.getHistory(obj); //请求历史消息
       
        _this.resend(socket,"chat"+obj.config.me, function(data) {//实时聊天
        
          obj.chatinfo.push(data);
        });

        _this.resend(socket,"input"+obj.config.me, function(data) {//实时聊天
          if(data==1){
            document.title=""+_self.yourinfo.nichen+"正在输入......";   
          }else{
            document.title="正在和"+_self.yourinfo.nichen+"聊天";
          }
        });
    
    },
    textFunc:function(){
      var _this = this,go=false;
        _this.send(socket, "input",{you:_this.config.you,stu:1});
         setTimeout(function () {
      
          _this.send(socket, "input", {you:_this.config.you,stu:0});

            },1000)

       
    },inputFunc:function(){
      var _this = this;
         _this.ready(_this);
  
       
    },
    upconfig:function(obj){
      // 必须要把运行该函数的 this指向传入， 不然指向当前的this 会被报空值
      var _this=this;
      _that=obj;

     var data = {
        me: obj.config.me,
        you: obj.config.you,
      };
      _this.send(socket, "userInfo", data);

      _that.resend(socket, "userInfo"+obj.config.me, function(data) { 
      //聊天用户配置   _this.config.myface=  
       _that.getuserinfo(obj.config.me, data, function(info) {
        _that.myinfo = info; //指向 
      });

      _that.getuserinfo(obj.config.you, data, function(info) {
        _that.yourinfo = info;

      });
    document.title="正在和"+_that.yourinfo.nichen+"聊天"; 

    });

 
   },
    getHistory: function(obj) {
     var  _this = this;
      var data = {
        server: "getHistory",
        me: obj.config.me,
        you: obj.config.you,
        count: obj.history
      };
      obj.$options.methods.send(socket, "getHistory", data);
        obj.$options.methods.resend(socket, "resHistory"+obj.config.me, function(data) { //监听历史数据返回
          //获取聊天记录
          obj.chatinfo = data;

        });

    },
    sendMassage: function(event) {
      if (this.message == "") alert("你还没有输入信息");
      if ((event.keyCode == 13 || event.type == "click") && this.message != "") {
        var data = {
          server: this.config.server,
          me: this.config.me,
          you: this.config.you,
          msg: this.message
        };
        // var server = this.config.server;
        this.$options.methods.send(socket, "chat", data);
        this.message = "";
      }


    },
    send: function(obj, mark, data) {
      console.log(mark)
      obj.emit(mark, data);
    },
    resend: function(obj, mark, fn) {
  
         var md5code=_self.config.MD5;
        
      obj.on(mark+md5code, function(data) {
       fn && fn(data);

      });
 
   
    },
    getuserinfo: function(username, data, fn) {
      //这个函数只是返回某一个用户配置数组
      for (var i = 0; i < data.length; i++) {

        if (data[i].username == username) {

          fn && fn(data[i]);
 

        }
      }



    }

  }
 })


 
 vm.$watch("chatinfo", function() { 
  var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
  vm.$refs.scorll.style.height = h * 0.6 + "px";
  vm.$refs.forms.style.height = h * 0.34 + "px"; //放在这个里表示获取聊天的时候 vm已经创建， 相当 JQ 的 ready

  vm.$refs.scorll.scrollTop = vm.$refs.scorll.scrollHeight; //滚动聊天

  //console.log(vm.userInfo)
 })
 

 

    </script>
</body>
</html>